/* ----- Section Features ----- */

.features-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-icon {
  display: none;
}

@media screen and (min-width: 1158px) {
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: var(--secondary-background);
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
