/* ----- Section Hero----- */
.hero-section {
  padding: 112px 0;
  background-color: var(--dark-background);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../../images/hero/hero-bg_mob.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  max-width: 428px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/hero/hero-bg_mob@2x.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/hero/hero-bg_tab.jpg");
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/hero/hero-bg_tab@2x.jpg");
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/hero/hero-bg_desk.jpg");
  }
}
@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/hero/hero-bg_desk@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 40px 0 112px 0;
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
  }
}

.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

@media screen and (min-width: 768px) {
  .hero-section-container {
    gap: 48px;
  }
}

.hero-title {
  max-width: 496px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
}

.hero-button {
  min-width: 169px;
  padding: 16px 32px;
}
