/* ----- Mobile-menu ----- */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--primary-background);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  background-color: transparent;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 40px;
}

.menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.menu-tel {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--blue-text);
}

@media screen and (max-width: 427px) {
  .menu-tel {
    font-size: 24px;
  }
}

.menu-email {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.002em;
}

.menu-container .social-links-list {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .menu-container .social-links-list {
    gap: 28px;
  }
}

.mob-current {
  color: var(--active-link);
}
